body{
    margin: 0%;
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: pink;
    height:100px;
    display: flex;
    flex-direction: row; 
  
}
#div1{
    background-color:pink;
    width: 100%;
    .img-header {
        width: 35%;
        padding: 1% 10%;
    }
}
#div2{
    background-color:pink;
    width: 100%;
    text-align: center; 
}

#div3{
    background-color:pink;
    text-align: center;
    width: 100%;
    
}
.nav {
    display: flex;
    width: 100%;
}
ul{
    list-style-type: none;
    background-color: rgb(233, 177, 208);
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-flex;
}
li{
float: left; 
border-right: 5% solid rgb(233, 177, 208);
border-left: 5% solid rgb(233, 177, 208);
background-color: rgb(233, 177, 208);

}
li a{
    display: block;
    color: rgb(88, 78, 78);
    text-decoration: none;
    padding: 15px 100px;
    text-align: center;
}
li a:hover{
    background-color: rgb(237, 205, 210);

}
.corpo{
    background-color: pink;
    display: flex;
}
#lado1{
    width: 20%;
}

#forms{
    background-color: pink;
    width: 50%;
    margin: 2px;
    padding: 4%;
    border: 3px solid #555;
    height: 300%;
}
#lado2{
    width: 20%;
}


input[type=text] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  #rodape{
    background-color:rgb(233, 177, 208) ;
    padding: 50px 5px;
    height: 3px;
    display: flex;
    justify-content: center;
    
  }


